Repository Projet-Exodus/exostation, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, Sons, Maps, Images, Outils, Config, Documentation, SQL, Alertes traductions images

Changelog
  modular_exostation/changelogs/archive/2025-03.yml
Labels: none

Base keybinding
  modular_exostation/keybinding/_keybinding.dm
  modular_exostation/keybinding/code/admin.dm
  modular_exostation/keybinding/code/artificial_intelligence.dm
  modular_exostation/keybinding/code/carbon.dm
  modular_exostation/keybinding/code/client.dm
  modular_exostation/keybinding/code/communication.dm
  modular_exostation/keybinding/code/human.dm
  modular_exostation/keybinding/code/living.dm
  modular_exostation/keybinding/code/mob.dm
  modular_exostation/keybinding/code/movement.dm
  modular_exostation/keybinding/code/robot.dm
  modular_exostation/keybinding/keybinding.dme
  modular_exostation/keybinding/readme.md
  modular_exostation/modular_exostation.dme
Labels: Documentation

Fix _ manquant
  modular_exostation/keybinding/_keybinding.dme
Labels: none

admins, motd, database
  config/admins.txt
  config/dbconfig.txt
  config/exo_motd.txt
  config/motd_exo.txt
Labels: Config

Config changes
  config/dbconfig.txt
  config/whitelist.txt
Labels: Config

config et brig
  config/config.txt
  config/game_options.txt
Labels: Config

brig
  code/modules/client/preferences/security_department.dm
Labels: none

documentation
  modular_exostation/_base_config/readme.md
Labels: Documentation

database options
  config/config.txt
Labels: Config

groupage fichiers changelogs + espaces après : dans les readme FR
  modular_exostation/_base_config/readme.md
  modular_exostation/automapper/readme.md
  modular_exostation/changelog/_changelog.dme
  modular_exostation/changelog/code/changelog_datum.dm
  modular_exostation/changelog/code/changelog_item.dm
  modular_exostation/changelog/code/changelog_verb.dm
  modular_exostation/changelog/code/exo_changelog.dm
  modular_exostation/changelog/readme.md
  modular_exostation/example/readme.md
  modular_exostation/keybinding/readme.md
Labels: Documentation

mauvais emplacement
  modular_exostation/tools/exostation_check_grep.sh
Labels: none

subsystems refactor
  modular_exostation/_base_config/readme.md
  modular_exostation/_modpacks.dm
  modular_exostation/automapper/code/area_spawn_subsystem.dm
Labels: Documentation

automapper
  modular_exostation/automapper/code/area_spawn_subsystem.dm
  modular_exostation/automapper/code/automapper_subsystem.dm
Labels: none

area_test.dmi
  modular_exostation/automapper/icons/area_test.dmi
Labels: Images

area_test.dmi 2
  modular_exostation/automapper/icons/area_test.dmi
Labels: Images

icon_state area_test
  modular_exostation/automapper/code/area_spawn_subsystem.dm
Labels: none

raccourcis traduction
  modular_exostation/automapper/readme.md
  modular_exostation/keybinding/code/admin.dm
  modular_exostation/keybinding/code/artificial_intelligence.dm
  modular_exostation/keybinding/code/carbon.dm
  modular_exostation/keybinding/code/client.dm
  modular_exostation/keybinding/code/communication.dm
  modular_exostation/keybinding/code/human.dm
  modular_exostation/keybinding/code/living.dm
  modular_exostation/keybinding/code/mob.dm
  modular_exostation/keybinding/code/movement.dm
  modular_exostation/keybinding/code/robot.dm
  modular_exostation/keybinding/readme.md
Labels: Documentation

fix tests ?
  modular_exostation/_base_config/readme.md
  tools/deploy.sh
Labels: Outils, Documentation

choix sec
  code/modules/client/preferences/security_department.dm
Labels: none

fin config
  code/modules/client/preferences.dm
  config/game_options.txt
  config/jobconfig.toml
  config/silicon_laws.txt
  modular_exostation/_base_config/readme.md
Labels: Config, Documentation

doc
  modular_exostation/_base_config/readme.md
Labels: Documentation

jobs config
  config/config.txt
Labels: Config

icone
  interface/skin.dmf
  modular_exostation/_base_config/icons/exostation-logo.png
  modular_exostation/_base_config/readme.md
Labels: Documentation

uniformisation
  tools/deploy.sh
Labels: Outils

nom logo
  interface/skin.dmf
Labels: none

nom logo 2 et uniformisation 2
  modular_exostation/_base_config/icons/exostation_logo.png
  tools/deploy.sh
Labels: Outils

logo définitif
  modular_exostation/_base_config/icons/exostation_logo.png
Labels: none

readme
  modular_exostation/_base_config/readme.md
  modular_exostation/character_prefs/readme.md
Labels: Documentation

marcher par défaut
  code/modules/mob/living/living_defines.dm
  modular_exostation/_base_config/readme.md
Labels: Documentation

complément readme
  modular_exostation/_base_config/readme.md
Labels: Documentation

modified: modular_exostation/_base_config/readme.md
  modular_exostation/_base_config/readme.md
Labels: Documentation

example
  modular_exostation/example/_example.dm
  modular_exostation/example/_example.dme
Labels: none

create modpack
  modular_exostation/create_modpack.bat
Labels: none

LOOC
  code/datums/chatmessage.dm
  modular_exostation/_exodefines/_exodefines.dme
  modular_exostation/_exodefines/code/LOOC.dm
  modular_exostation/looc/_looc.dm
  modular_exostation/looc/_looc.dme
  modular_exostation/looc/code/LOOC.dm
  modular_exostation/looc/code/LOOC_keybinding.dm
  modular_exostation/looc/code/LOOC_prefs.dm
  modular_exostation/looc/readme.md
  modular_exostation/modular_exostation.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui-say/ChannelIterator.test.ts
  tgui/packages/tgui-say/ChannelIterator.ts
  tgui/packages/tgui-say/styles/colors.scss
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/looc.tsx
Labels: UI, Documentation

coquille
  modular_exostation/looc/code/LOOC.dm
Labels: none

orthographe au passage
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

crédits & référence
  modular_exostation/looc/readme.md
Labels: Documentation

forme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/looc.tsx
Labels: UI

prettier
  tgui/packages/tgui-say/ChannelIterator.ts
Labels: UI

chemin changelogs
  modular_exostation/changelogs/AutoChangeLog-pr-6.yml
  modular_exostation/changelogs/AutoChangeLog-pr-9.yml
  tools/pull_request_hooks/autoChangelog.js
Labels: Outils

.github/labeler.yml:

'UI':
  - changed-files:
    - any-glob-to-any-file: 'tgui/**'

'Sons':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

'Maps':
  - changed-files:
    - any-glob-to-any-file: '**/*.dmm'

'Images':
  - changed-files:
    - any-glob-to-any-file: '**/*.dmi'

'Outils':
  - changed-files:
    - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

'Config':
  - changed-files:
    - any-glob-to-any-file: 'config/**'

'Documentation':
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

'SQL':
  - changed-files:
    - any-glob-to-any-file: 'SQL/**'

'Modularit√© partielle':
  - changed-files:
    - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
    - any-glob-to-any-file: 'modular_exostation/**'
  - base-branch: 'master'
  - head-branch: ['!tg-update', '!tg-upstream']

'Non modulaire':
  - changed-files:
    - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
    - all-globs-to-all-files: '!modular_exostation/**'
  - base-branch: 'master'
  - head-branch: ['!tg-update', '!tg-upstream']

'Mirror (/tg/)':
  - base-branch: 'master'
  - head-branch: ['^tg-update', 'tg-update']

'Traductions':
  - base-branch: 'trad'

'Fix':
  - head-branch: ['^fix', 'fix']

'Feature':
  - head-branch: ['^feature', 'feature']

'Port':
  - head-branch: ['^port', 'port']

'Alertes traductions images' :
  - changed-files:
    - any-glob-to-any-file: ['icons/hud/**', 'icons/stamp_icons/**']
